<?xml version="1.0"?>
<widget id="net.reederhome.colin.apps.helichal" version="5.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Helichal</name>
	<description>
		It might be a game
	</description>
	<author>
		VpzomTrrfrt
	</author>
	<preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait"/>
	<preference name="fullscreen" value="true"/>
	<access origin="*" />
</widget>
