<?xml version='1.0' encoding='utf-8'?>
<widget id="net.reederhome.colin.apps.helichal" version="5.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Helichal</name>
    <description>
		It might be a game
	</description>
    <author>
		VpzomTrrfrt
	</author>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <access origin="*" />
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-play-games-services" spec="^1.0.0">
        <variable name="APP_ID" value="1035752404717" />
    </plugin>
</widget>
