.player {
	transition: fill 1000ms;
	&.transition {
		transition: transform 1000ms, fill 1000ms;
	}
	.eye {
		fill: yellow;
		.pupil {
			fill: black;
		}
	}
}

.platform {
	fill: blue;
}

.score {
	font-size: .4em;
	&.newHigh {
		fill: red
	}
}

.overlay {
	fill: rgba(255, 255, 255, 0.4);
	transition: opacity 1s;
}

.menuText {
	&.small {
		font-size: .5em;
	}
}

.gamemodeName {
	font-size: .5em;
}

.pauseMenu {
	&:not(.noTransition) {
		transition: transform 1000ms, opacity 1s;
	}
}

.tappity {
	fill: red
}

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: hidden;
	height: 100%;
}

body {
	position: relative;
	background-color: black;
	height: 100%;
}

#app {
	width: 100%;
	svg {
		background-color: white;
		object-fit: scale-down;
		height: 100%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-family: monospace;

		* {
			user-select: none
		}
	}
}

@media screen and (max-aspect-ratio: 2/3) {
	#app {
		display: inline-block;
		width: 100%;
		height: 100%;
		svg {
			width: 100%;
			height: auto;
			position: absolute;
			bottom: 0;
		}
	}
}
